    <div id="search_people_section" class="col-lg-4 col-md-5 col-12 p-0 d-flex flex-column position-absolute">
        <!-- search people nav bar -->
        <div id="search_people_nav_bar" class="d-flex justify-content-between py-2 px-3">
            <div class="button_container d-flex justify-content-center align-items-end">
                <button id="people_to_friend_btn" class="text-white d-bigger"><i class="fas fa-arrow-left"></i></button><div class="title text-white ml-4 d-bigger">Search People</div>
            </div>
        </div>

        <!-- search bar -->
        <div class="search_friend bg-white py-2 px-3">
            <div class="input_container d-flex p-1">
                <button id="search_people_btn"><i class="material-icons p-1">search</i></button>
                <input type="text" id="search_people" name="search_people" class="w-100 p-1 d-small" placeholder="Search people">
            </div>
        </div>

        <!-- people list -->
        <ul id="searched_people" class="list" class="list-unstyled bg-white m-0">
        </ul>
    </div>